<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Configure your Toon</title>
</head>
<body>
<h1>New TOON</h1>
<form id="createToon" name="createToon" action="/create" method="post">
    <button type="submit">Create a virtual TOON</button>
</form>

<script src="main.js"></script>
</body>
</html>
